<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Dashboard</a> </li>
    <li class="breadcrumb-item active"> Colaborador </li>
  </ol>
</nav>

<div class="row mb-2">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Perfil do Colaborador
    </h1>
  </div>

  <div class="col-md">
    <a routerLink="/" class="btn btn-light float-right">
      << Voltar </a>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <h3> Nome: Dowglas Maia</h3>
  </div>
  <div class="card-body">
    <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Cargo: <strong>Desenvolvedor Back-End Sr</strong>
      </h5>

      <h5 class="card-title">
        Squard: <strong>Produtos</strong>
      </h5>

      <div class="card-text">
        <label class="border-bottom"><strong>Soft Skills:</strong></label><br>
        <span class="badge rounded-pill text-bg-info p-2 m-1">Java 17</span>
        <span class="badge rounded-pill text-bg-info p-2 m-1">Node.Js</span>
        <span class="badge rounded-pill text-bg-info p-2 m-1">Spring Boot</span>
        <span class="badge rounded-pill text-bg-info p-2 m-1">Maven</span>
        <span class="badge rounded-pill text-bg-info p-2 m-1">Jenkins</span>

        <a  class="btn btn-outline-secondary " tabindex="-1" role="button" aria-disabled="true">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V144H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H160V320c0 17.7 14.3 32 32 32s32-14.3 32-32V208H336c17.7 0 32-14.3 32-32s-14.3-32-32-32H224V32zM0 480c0 17.7 14.3 32 32 32H352c17.7 0 32-14.3 32-32s-14.3-32-32-32H32c-17.7 0-32 14.3-32 32z"/></svg>
        </a>       
      </div>
    </div>
  </div>
</div>

