<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Dashboard</a> </li>
    <li class="breadcrumb-item active"> Colaborador </li>
  </ol>
</nav>

<div class="row mb-2">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Perfil do Colaborador
    </h1>
  </div>

  <div class="col-md">
    <a routerLink="/" class="btn btn-light float-right">
      << Voltar </a>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <h3> Nome: Dowglas Maia</h3>
  </div>
  <div class="card-body">
    <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        Cargo: <strong>Desenvolvedor Back-End Sr</strong>
      </h5>

      <h5 class="card-title">
        Squard: <strong>Produtos</strong>
      </h5>

      <div class="card-text">
        <label><strong>Soft Skills</strong></label>
        <p> <strong>Java 17, Node.Js, Spring Boot, Maven, Jenkins </strong></p>
      </div>
    </div>
  </div>
</div>