<nav class="navbar bg-body-tertiary justify-content-end" style="background-color: rgb(188, 205, 210);">
  <form class="d-flex " role="search">
    <input class="form-control me-2" type="search" placeholder="Listar por Skill" aria-label="Search">

    <button class="btn btn-outline-success" type="button">Localizar</button>
  </form>
</nav>

<div class="row">

  <div class="col-sm-4 mb-1" *ngFor="let colaborador of colaboradores">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-5 pr-1">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
          <div class="text-center">
            <h5 class="card-title">
              <label>
                <small>Nome:</small>
                {{colaborador.name}}
              </label>
            </h5>
            <label>
              <small>Cargo:</small>
              {{colaborador.cargo}}
            </label><br>
          </div>

          <button routerLink="/profile" class="btn btn-primary btn-lg btn-block p-1 ">Perfil</button>
        </div>

        <div class="col-md-7 justify-content">
          <div class="card-body">          
            <li class="card-header text-center">Skills</li>
              <ul class="list-group" *ngFor="let skill of colaborador.skills">               
                <li class="list-group-item" >
                  {{skill.name}}
                </li>
              </ul> 
          </div>
        </div>

      </div>
    </div>
  </div>
</div>