<nav class="navbar bg-body-tertiary justify-content-end" style="background-color: rgb(188, 205, 210);">
  <form class="d-flex " role="search">
    <input class="form-control me-2" type="search" placeholder="Listar por Skill" aria-label="Search">

    <button class="btn btn-outline-success" type="button">Localizar</button>
  </form>
</nav>

<div class="row">

  <div class="col-sm-4 mb-1">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 justify-content">
          <div class="card-body">
            <h5 class="card-title">Dowglas Maia</h5>
            <p class="card-text">Desenvolvedor Back-End Sr</p>

            <div class="col mb-3" style="width: 18rem;">
              <div class="row g-0">
                <div class="col  border-end">
                  <img src="./../../../assets/img/java.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/angular.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/git.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
            </div>

            <p class="card-text">
              <small class="text-body-secondary">
                <a routerLink="/profile" class="btn btn-primary">Perfil</a>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-1">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 justify-content">
          <div class="card-body">
            <h5 class="card-title">Lucas Lima</h5>
            <p class="card-text">Desenvolvedor Back-End Sr</p>

            <div class="col mb-3" style="width: 18rem;">
              <div class="row g-0">
                <div class="col  border-end">
                  <img src="./../../../assets/img/java.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/angular.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/git.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
            </div>

            <p class="card-text">
              <small class="text-body-secondary">
                <a routerLink="/profile" class="btn btn-primary">Perfil</a>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-1">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 justify-content">
          <div class="card-body">
            <h5 class="card-title">Matheus Cunha</h5>
            <p class="card-text">Desenvolvedor Back-End Sr</p>

            <div class="col mb-3" style="width: 18rem;">
              <div class="row g-0">
                <div class="col  border-end">
                  <img src="./../../../assets/img/java.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/angular.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/git.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
            </div>

            <p class="card-text">
              <small class="text-body-secondary">
                <a routerLink="/profile" class="btn btn-primary">Perfil</a>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-1">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 justify-content">
          <div class="card-body">
            <h5 class="card-title">Maia</h5>
            <p class="card-text">Desenvolvedor Front-End Jr</p>

            <div class="col mb-3" style="width: 18rem;">
              <div class="row g-0">
                <div class="col  border-end">
                  <img src="./../../../assets/img/java.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/angular.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/git.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
            </div>

            <p class="card-text">
              <small class="text-body-secondary">
                <a routerLink="/profile" class="btn btn-primary">Perfil</a>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-1">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 justify-content">
          <div class="card-body">
            <h5 class="card-title">Aline Silva</h5>
            <p class="card-text">Scrum Master Sr</p>

            <div class="col mb-3" style="width: 18rem;">
              <div class="row g-0">
                <div class="col  border-end">
                  <img src="./../../../assets/img/java.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/angular.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/git.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
            </div>

            <p class="card-text">
              <small class="text-body-secondary">
                <a routerLink="/profile" class="btn btn-primary">Perfil</a>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-1">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 justify-content">
          <div class="card-body">
            <h5 class="card-title">Maria Silva</h5>
            <p class="card-text">Desenvolvedor Back-End Sr</p>

            <div class="col mb-3" style="width: 18rem;">
              <div class="row g-0">
                <div class="col  border-end">
                  <img src="./../../../assets/img/java.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/angular.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/git.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
            </div>

            <p class="card-text">
              <small class="text-body-secondary">
                <a routerLink="/profile" class="btn btn-primary">Perfil</a>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-1">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 justify-content">
          <div class="card-body">
            <h5 class="card-title">Lima</h5>
            <p class="card-text">Desenvolvedor Back-End Pl</p>

            <div class="col mb-3" style="width: 18rem;">
              <div class="row g-0">
                <div class="col  border-end">
                  <img src="./../../../assets/img/java.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/angular.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/git.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
            </div>

            <p class="card-text">
              <small class="text-body-secondary">
                <a routerLink="/profile" class="btn btn-primary">Perfil</a>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-1">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./../../../assets/img/user.png" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 justify-content">
          <div class="card-body">
            <h5 class="card-title">Julho</h5>
            <p class="card-text">Desenvolvedor Back-End Sr</p>

            <div class="col mb-3" style="width: 18rem;">
              <div class="row g-0">
                <div class="col  border-end">
                  <img src="./../../../assets/img/java.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/angular.png" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col  border-end">
                  <img src="./../../../assets/img/git.png" class="img-fluid rounded-start" alt="...">
                </div>
              </div>
            </div>

            <p class="card-text">
              <small class="text-body-secondary">
                <a routerLink="/profile" class="btn btn-primary">Perfil</a>
              </small>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>